<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spm.carwash.dao.AppointmentDao">
    <resultMap id="appointmentMap" type="Appointment">
        <id column="aid" property="aid" jdbcType="INTEGER"/>
        <result column="ctype" property="carType" jdbcType="INTEGER" />
        <result column="option" property="option" jdbcType="INTEGER" />
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="DATE" />
        <association property="user" javaType="UserSimple">
            <id column="uid" property="uid" jdbcType="INTEGER"/>
            <result column="email" property="email" jdbcType="VARCHAR"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="address" property="address" jdbcType="VARCHAR"/>
            <result column="phone_mobile" property="phoneMobile" jdbcType="VARCHAR"/>
            <result column="phone_home" property="phoneHome" jdbcType="VARCHAR"/>
            <result column="phone_work" property="phoneWork" jdbcType="VARCHAR"/>
            <result column="role" property="role" jdbcType="INTEGER" />
            <result column="enabled" property="enabled" jdbcType="BOOLEAN"/>
        </association>
        <association property="time" javaType="TimeSlot">
            <id column="tsid" property="tsid" jdbcType="INTEGER"/>
            <result column="slot" property="slot" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectAppointmentById" resultMap="appointmentMap" parameterType="Integer">
        select * from appointment left join user_appointment on appointment.aid = user_appointment.aid
        left join user on user_appointment.uid = user.uid join time_slot on time_slot.tsid = appointment.time
        where appointment.aid = #{aid}
    </select>

    <select id="selectAllAppointments" resultMap="appointmentMap">
        select * from appointment left join user_appointment on appointment.aid = user_appointment.aid
        left join user on user_appointment.uid = user.uid join time_slot on time_slot.tsid = appointment.time
    </select>

    <select id="selectAppointmentByUser" resultMap="appointmentMap" parameterType="Integer">
        select * from appointment left join user_appointment on appointment.aid = user_appointment.aid
        left join user on user_appointment.uid = user.uid join time_slot on time_slot.tsid = appointment.time
        where user.uid = #{uid}
    </select>

    <insert id="addAppointment" parameterType="NewAppointment"  useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO `appointment` (`aid`, `ctype`, `date`, `time`, `aoption`, `comment`)
        VALUES (NULL, #{carType}, #{date}, #{time}, #{option}, #{comment})
    </insert>

    <update id="updateAppointment" parameterType="NewAppointment">
        update appointment set
        ctype = #{carType},
        date = #{date},
        time = #{time},
        aoption = #{option},
        comment = #{comment}
        where aid = #{aid}
    </update>

    <insert id="addUserAppointment">
        INSERT INTO `user_appointment` (`uaid`, `uid`, `aid`)
        VALUES (NULL, #{uid, jdbcType=INTEGER}, #{aid, jdbcType=INTEGER})
    </insert>

    <select id="selectAllTakenTime" resultType="Integer" parameterType="String">
        select time from appointment where
        date = str_to_date( #{date},'%d/%m/%Y')
    </select>

    <select id="selectAllTime" resultType="String">
        select slot from time_slot
    </select>

    <delete id="deleteAppointment" parameterType="Integer">
        delete from appointment where aid = #{aid}
    </delete>
</mapper>